// Base styles
html, body {
    height: 100%;
}


// Header

header {
    background-color: #000;
    color: #fff;
    padding: 3em 0;

    p {
        font-size: 1.5em;
        color: #bbb;
    }
}


// Common layout
.site-main {
    padding: 2em 0;
}

.image-square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}



// Home

body.home {
    .site {
        // Make it fit at least the 100% of the viewport
        min-height: 100%;
        display: flex;
        flex-direction: column;
        .site-content {
            flex: 1;
        }

        .site-main {
            font-size: 1.5em;
        }
    }

}
    


// Perros

body.post-type-archive-perro .site-main {
    .card {
        margin: 2em 0;

        .card-title {
            font-size: 2em;
        }
    }
}


// Evento Canino

body.single-eventos-caninos .site-main {
    .main-column {
        background-color: #eee;
        padding: 2em;
    }
    .title {
        padding: 1em 0;
    }
}


// Footer

footer {
    background-color: #ddd;
    color: #444;
    padding: 2em 0;

    p {
        font-size: 1.5em;
        color: #bbb;
    }
}
